:host {
    display: block;
    max-width: 500px;
    margin: 50px auto;
}

.custom-level-selector {
    .error {
        opacity: 0;
        transition: opacity .1s ease;
    }

    &.ng-invalid.ng-touched .error {
        opacity: 1;
    }

    .form-wrapper {
        display: flex;
        gap: 10px;

        input {
            width: 60px;
            padding: 5px;
            border: 1px solid gray;
            border-radius: 3px;

            &.ng-invalid.ng-touched {
                border-color: #e64343;
            }
        }
    }
}

.divider {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;

    .line {
        flex-grow: 1;
        border-bottom: 1px solid black;
    }
}

.predefined-level-selector {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.error {
    margin-top: 3px;
    font-size: 14px;
    color: #e64343;
}
