.custom-level-selector {
    display: flex;
    gap: 10px;

    input {
        width: 60px;
    }
}

.divider {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;

    .line {
        flex-grow: 1;
        border-bottom: 1px solid black;
    }
}

.predefined-level-selector {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
