<div class="grid-container w-{{levelData.width}} h-{{levelData.height}}">
    <div class="rows-value-container">
        <ng-container [ngTemplateOutlet]="lineInfo" [ngTemplateOutletContext]="{lines: rows}"></ng-container>
    </div>
    <div class="columns-value-container">
        <ng-container [ngTemplateOutlet]="lineInfo" [ngTemplateOutletContext]="{lines: columns}"></ng-container>
    </div>
    <ng-container *ngFor="let cell of grid.cells.values(); trackBy: trackByCells" [ngSwitch]="cell.type">
        <app-empty class="cell" data-id="{{cell.id}}" (click)="onCellClick(cell, $event)"
            *ngSwitchCase="CellType.Empty"></app-empty>
        <app-grass class="cell" data-id="{{cell.id}}" (click)="onCellClick(cell, $event)"
            *ngSwitchCase="CellType.Grass"></app-grass>
        <app-tent class="cell" data-id="{{cell.id}}" (click)="onCellClick(cell, $event)"
            *ngSwitchCase="CellType.Tent"></app-tent>
        <app-tree class="cell" data-id="{{cell.id}}" (click)="onCellClick(cell, $event)"
            *ngSwitchCase="CellType.Tree"></app-tree>
    </ng-container>
</div>

<ng-template #lineInfo let-lines="lines">
    <div class="line-value" *ngFor="let line of lines; trackBy: trackByLines">
        <span class="value">{{line.tentsAmount}}</span>
        <div class="buttons">
            <arrow-up-btn (click)="increaseTents(line)"></arrow-up-btn>
            <arrow-down-btn (click)="decreaseTents(line)"></arrow-down-btn>
        </div>
    </div>
</ng-template>

<button (click)="export()">Export</button>
