/* You can add global styles to this file, and also import other style files */
body {
    background-color: #fff9f1;
    margin: 0;
}

html,
body {
    font-size: 16px;
    font-family: sans-serif;
}

.material-symbols-rounded {
    --filled: 0;

    font-variation-settings:
        "FILL" var(--filled),
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;

    &.filled {
        --filled: 1;
    }
}

.input-sizer {


    textarea {

    }
}

.input-sizer::after {
    content: attr(data-value) " ";
    visibility: hidden;
}
